@import "../../config/_variables.css";

.stream-container {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  max-width: var(--max-page-width);
}
.stream-post-container {
  border: 1px solid #e6e6e6;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  max-width: var(--max-card-width);
  margin-top: 60px;
}
.stream-header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}
.stream-title {
  font-size: 19px;
  font-weight: 600;
}
.stream-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stream-preview-input {
  margin-right: 50px;
  width: 400px;
  border: 1px solid #efefef;
  border-radius: 3px;
  background-color: var(--bg-color);
  margin-bottom: 5px;
  font-size: var(--small-font-size);
  padding: 9px 0 7px 8px;
  font-weight: 400;
}
.stream-preview-input:focus {
  outline: none;
  border: 1px solid #b2b2b2;
}

.stream-button {
  cursor: pointer;
  border: 1px solid var(--border-color);
  color: black;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}
.stream-input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.stream-poster-box {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 20px;
  margin-left: 98px;
}
.stream-info-box {
  padding: 20px;
  margin-left: -11px;
}
.stream-footer {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  max-width: 775px;
  justify-content: flex-end;
}
.stream-start-button {
  cursor: pointer;
  border: 1px solid var(--border-color);
  color: black;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}
