@import "../../config/variables";

.container {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  max-width: $max-page-width;
  .createContainer {
    @include boxBorder(yes);
    width: 100%;
    max-width: $max-card-width;
    margin-top: 60px;
    .header {
      display: flex;
      align-items: center;
      padding: 20px;
      justify-content: center;
      border-bottom: 1px solid $border-color;
      .title {
        font-size: 19px;
        font-weight: 600;
      }
    }
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .previewInput {
        margin-right: 50px;
        width: 400px;
        border: 1px solid #efefef;
        border-radius: 3px;
        background-color: $bg-color;
        margin-bottom: 5px;
        font-size: $small-font-size;
        padding: 9px 0 7px 8px;
        font-weight: 400;
        &:focus {
          outline: none;
          border: 1px solid #b2b2b2;
        }
      }
      .button {
        cursor: pointer;
        border: 1px solid $border-color;
        color: black;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 600;
      }
      .channelNameBox {
        position: relative;
        overflow: hidden;
        display: inline-block;
        padding-top: 20px;
        .channelNameSpan {
          margin-right: 10px;
          font-size: 14px;
          font-weight: 600;
        }
      }
      .infoBox {
        padding: 20px;
        margin-left: -11px;
        .channelCaptionBox {
          margin-bottom: 10px;
          .channelCaptionSpan {
            margin-right: 10px;
            font-size: 14px;
            font-weight: 600;
          }
        }
        .streamKeyBox {
          .streamKeySpan {
            margin-right: 10px;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
    .footer {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      max-width: 775px;
      justify-content: flex-end;
      .createButton {
        cursor: pointer;
        border: 1px solid $border-color;
        color: black;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
