@import "../../config/_variables.css";

.notification-container {
  position: fixed;
  top: 79px;
  left: 47%;
  width: 550px;
  height: 0;
  z-index: 10;
}
.notification-box {
  border: 1px solid #e6e6e6;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 100%;
  max-width: 550px;
}
.notification-box::after {
  border-top: 0px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;

  content: "";
  position: absolute;
  top: -19px;
  left: 90%;
}
.notification-header {
  display: flex;
  padding: 14px 0;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--light-grey);
}
.notification-close-icon {
  cursor: pointer;
  margin-right: 20px;
}
.notification-title {
  order: 0;
  margin-left: 220px;
  margin-right: auto;
  font-weight: 600;
  font-size: 20px;
}
.notification-content {
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
