@import "../../config/variables";

.footer {
  width: 100%;
  max-width: $max-page-width;
  display: flex;
  margin: 55px auto;
  align-items: center;
  justify-content: space-between;
  @include breakpoint("phone-tablet") {
    justify-content: center;
    max-width: 350px;
    margin-bottom: 25px;
  }
  font-size: $small-font-size;
  text-transform: uppercase;
  font-weight: 600;
  .column {
    margin-bottom: 15px;
    .item {
      @import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
      font-family: "Ubuntu", sans-serif;
      color: $dark-blue;
      margin-right: 13px;
      font-weight: 600;
      font-size: 14px;
      @include breakpoint("phone-tablet") {
        margin-right: 15px;
      }
    }
    .mingflix {
      color: $dark-grey;
    }
  }
}
