@import "../../config/_variables.css";

.mo-container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.mo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e6e6e6;
  background-color: white;
  border-radius: 5px;
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
  min-height: 200px;
}
.mo-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
}
.mo-title {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.mo-close-icon {
  cursor: pointer;
}
.mo-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.mo-delete {
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  font-size: 13px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
}
.mo-delete:hover {
  background-color: #cdcdcd;
}
.mo-link {
  text-decoration: none;
  color: black;
  width: 100%;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}
.mo-link:hover {
  overflow: hidden;
  background-color: #cdcdcd;
}
