@import "../../config/_variables.css";

.feed-feed {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-page-width);
  margin: 0 auto;
  align-items: center; /*//좌우*/
}
